@import url('reset.css');

body{
	background:#FFF;
	color:#fff;
	font-family: 'Trade Winds', Arial, sans-serif;
}
a{
	color:#fff;
	text-decoration:none;
}
img.bgimage{
	position:fixed;
	right:0px;
	top:0px;
	opacity:0.8;
	z-index:1;
}
.overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../images/pattern.png) repeat top left;
	z-index:2;
}
.pattern div{
	position:absolute;
	width:50px;
	height:50px;
	background:#000;
	z-index:10;
}
.heading h1{
	position:absolute;
	top:10px;
	left:10px;
	font-size:86px;
	color:#000;
	text-shadow:0px 0px 1px #fff;
	font-family:"Frijole", Arial, sans-serif;
	z-index:4;
}
.menu{
	position:absolute;
	top:154px;
	left:0px;
	z-index:11;
}
.menu a{
	background-color:#000;
	margin-bottom:2px;
	opacity:0.9;
	display:block;
	width:98px;
	height:98px;
	color:#fff;
	line-height:98px;
	text-align:center;
	text-transform:uppercase;
	outline:none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-transition: all 0.2s ease-in;
}
.menu a:hover{
	color:#000;
	background-color:#fff;
}
.content_wrapper{
	background:transparent url(../images/bg_menu.png) repeat top left;
	width:600px;
	height:400px;
	position:absolute;
	top:154px;
	left:200px;
	z-index:4;
	display:none;
}
span.close{
	position:absolute;
	top:10px;
	right:10px;
	width:11px;
	height:12px;
	cursor:pointer;
	background:transparent url(../images/close.png) no-repeat top left;
	opacity:0.8;
}
span.close:hover{
	opacity:1.0;
}
.mb_content{
	padding:30px;
	display:none;
}
.content h2{
	font-family:"Frijole";
	text-shadow:0px 0px 1px #fff;
	font-size:42px;
	background:transparent url(../images/line.png) repeat-x bottom left;
	padding:0px 0px 5px 0px;
	margin-bottom:10px;
}
.content_inner{
	line-height:24px;
	height:268px;
	outline: none;
}
.content_inner p{
	margin:10px;
	padding:0px 0px;
}
.content_inner li{
	margin: 10px;
	list-style-type: circle;
}
ul.imagelist li{
	float:left;
	margin:2px;
	list-style: none;
	cursor:pointer;
}
ul.imagelist li img{
	display:block;
	opacity:0.3;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-transition: all 0.5s ease-in-out;
}
ul.imagelist li img:hover{
	opacity:1.0;
}
.content form label{
	float:left;
	width:100px;
	text-align:right;
	margin-right:10px;
}
.content form div{
	padding:5px 0px;
}
.content form input,
.content form textarea{
	border:none;
	background:#fff;
	width:200px;
	font-family:Arial;
	color:#555;
	padding:4px;
}
.content form textarea{
	height:140px;
}
button{
	background:#ddd;
	border:none;
	color:#000;
	padding:3px 10px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	cursor:pointer;
	float:right;
	margin-right:22px;
}
button:hover{
	background:#fff;
}
.footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
	text-transform:uppercase;
	z-index:4;
}
.footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.footer a:hover{
	color:#fff;
}
.footer a span{
	font-weight:bold;
}
.footer a.mb_left{
	float:left;
}
#Contacts{
	margin-left: 200px;
	padding: 10px 0 0 0;
}
#Contacts p{
	margin-left:50px;
}
 .sprites { 
    background-image     : url(../images/emboss.png); 
    background-color     : transparent; 
    background-repeat    : no-repeat; 
 } 
 
 #vk-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -0px -32px; 
 } 
 
 #vk-icon:hover { 
    background-position  : -0px 0px; 
 } 
 
 #habr-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -32px -32px; 
 } 
 
 #habr-icon:hover { 
    background-position  : -32px 0px; 
 } 
 
 #fb-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -64px -32px; 
 } 
 
 #fb-icon:hover { 
    background-position  : -64px 0px; 
 } 
 
 #in-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -96px -32px; 
 } 
 
 #in-icon:hover { 
    background-position  : -96px 0px; 
 } 
 
 #mail-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -128px -32px; 
 } 
 
 #mail-icon:hover { 
    background-position  : -128px 0px; 
 } 
 
 #git-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -160px -32px; 
 } 
 
 #git-icon:hover { 
    background-position  : -160px 0px; 
 } 
 
 #gp-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -192px -32px; 
 } 
 
 #gp-icon:hover { 
    background-position  : -192px 0px; 
 } 
 
 #skype-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -224px -32px; 
 } 
 
 #skype-icon:hover { 
    background-position  : -224px 0px; 
 } 
 
 #twitter-icon { 
    height               : 32px; 
    width                : 32px; 
    background-position  : -256px -32px; 
 } 
 
 #twitter-icon:hover { 
    background-position  : -256px 0px; 
 } 
 
 #parallax {
	width: 200px;
	height: 250px;
    margin-right: 10px;
    float:right;
    font-family: 'Fredericka the Great', cursive;
    font-size: 8em; 
	}
	
p.project_info b.note {
	color: gray;
}
p.project_info a{
	color: blue;
}

table.project_list {
	margin-left: 5px;
	padding: 3px 3px 3px 3px;
	width:98%;
}
table.project_list td,th,tr {
	font-size: 8; 
	border: 1px solid gray; 
	padding:3px 7px 2px 7px;
}


